.container {
  display: flex;
  align-items: stretch;
}
.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
}
.leftSection {
  width: 72px;
  height: 100dvh;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

@media (min-width: 1300px) {
  .leftSection {
    width: 275px;
  }

  .leftSectionFixed {
    align-items: flex-start;
  }
}

.leftSectionFixed nav {
  flex: 1;
}

.leftSectionFixed nav li {
  list-style-type: none;
}

.logo {
  display: inline-block;
  height: 56px;
  margin-top: 2px;
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPill:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);

  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.postButton:hover {
  background-color: rgb(26, 140, 216);
}

.postButton span {
  display: none;
}
.postButton svg {
  display: inline-block;
  fill: white;
  width: 24px;
}

@media (min-width: 1300px) {
  .postButton {
    height: 52px;
    width: 234px;
    border-radius: 26px;
  }

  .postButton span {
    display: inline-block;
  }

  .postButton svg {
    display: none;
  }
}

.rightSectionWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100dvh;
  flex-direction: column;
}

.rightSectionInner {
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
}

.rightSection {
  display: none;
}
@media all and (min-width: 1024px) {
  .rightSection {
    display: inline-block;
    width: 350px;
    height: 100%;
  }
  .rightSectionInner {
    width: 990px;
  }
}
