.container {
  display: flex;
  align-items: stretch;
}
.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
}
.leftSection {
  width: 275px;
  height: 100dvh;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.leftSectionFixed nav {
  flex: 1;
}

.leftSectionFixed nav li {
  list-style-type: none;
}

.logo {
  display: inline-block;
  height: 56px;
  margin-top: 2px;
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPill:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);
  width: 234px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  border-radius: 26px;
}

.postButton:hover {
  background-color: rgb(26, 140, 216);
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  height: 100dvh;
  flex-direction: column;
}

.rightSectionInner {
  height: 100%;
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
}

.rightSection {
  width: 350px;
  height: 100%;
}
